[run]
omit =
    .nox/*
    *tests*
    docs/*
    omegaconf/grammar/gen/*
    omegaconf/version.py
    .stubs

[report]
exclude_lines =
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
    raise TypeError
    assert False
    @abstractmethod
    \.\.\.
    if TYPE_CHECKING:

[html]
directory = docs/build/coverage
