[run]
omit =
    .nox/*
    *tests*
    docs/*
    omegaconf/version.py
    .stubs

[report]
exclude_lines =
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
    raise TypeError
    return NotImplemented
    assert False
    @abstractmethod


[html]
directory = docs/build/coverage
