[run]
omit =
    .nox/*
    *tests*
    docs/*
    omegaconf/version.py

[report]
# Don't complain if tests don't hit defensive assertion code:
exclude_lines =
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
    return NotImplemented
    raise TypeError
    assert False
    @abstractmethod


[html]
directory = docs/build/coverage
