.benchmarks
.cache
*.pyc
.pytest_cache
.tox
.nox
build
dist
omegaconf.egg-info
/subprojects/omegaconf-pydevd/omegaconf_pydevd.egg-info
venv
.envrc
.idea
TODO
.ipynb_checkpoints
.coveralls.yml
.coverage
.eggs
.mypy_cache
/omegaconf/grammar/gen
/pip-wheel-metadata
/.pyre
.dmypy.json
.python-version
.vscode

# untracked tests
temp

# Agents hooks etc
.agents
.claude
.codex
.mcp.json
