version: 2.1

jobs:
  py36_linux:
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run: echo 'export NOX_PYTHON_VERSIONS=3.6' >> $BASH_ENV
      - run: sudo pip install nox
      - run: nox --add-timestamp

  py37_linux:
    docker:
      - image: circleci/python:3.7
    steps:
      - checkout
      - run: echo 'export NOX_PYTHON_VERSIONS=3.7' >> $BASH_ENV
      - run: sudo pip install nox
      - run: nox --add-timestamp

  py38_linux:
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      - run: echo 'export NOX_PYTHON_VERSIONS=3.8' >> $BASH_ENV
      - run: sudo pip install nox
      - run: nox --add-timestamp
  
  py39_linux:
    docker:
      - image: circleci/python:3.9
    steps:
      - checkout
      - run: echo 'export NOX_PYTHON_VERSIONS=3.9' >> $BASH_ENV
      - run: sudo pip install nox
      - run: nox --add-timestamp

workflows:
  version: 2
  build:
    jobs:
      - py36_linux
      - py37_linux
      - py38_linux
      - py39_linux
