version: 2.1

commands:
  linux:
    description: "Commands run on Linux"
    parameters:
      py_version:
        type: string
    steps:
      - checkout
      - run:
          name: "Preparing environment"
          command: |
            python --version  # check that python is installed
            sudo apt-get update
            sudo apt-get install -y openjdk-11-jre
            pip install nox
      - run:
          name: "Testing OmegaConf"
          command: |
            export NOX_PYTHON_VERSIONS=<< parameters.py_version >>
            nox --add-timestamp

jobs:
  test_linux:
    parameters:
      py_version:
        type: string
    docker:
      - image: cimg/python:<< parameters.py_version >>
    steps:
      - linux:
          py_version: << parameters.py_version >>

workflows:
  version: 2
  build:
    jobs:
      - test_linux:
          matrix:
            parameters:
              py_version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
