version: 2.1

commands:
  linux:
    description: "Commands run on Linux"
    parameters:
      py_version:
        type: string
    steps:
      - checkout
      - run:
          name: "Preparing environment"
          command: |
            sudo apt-get update
            sudo apt-get install -y openjdk-11-jre
            sudo pip install nox
      - run:
          name: "Testing OmegaConf"
          command: |
            export NOX_PYTHON_VERSIONS=<< parameters.py_version >>
            nox --add-timestamp

jobs:
  test_linux:
    parameters:
      py_version:
        type: string
    docker:
      - image: circleci/python:<< parameters.py_version >>
    steps:
      - linux:
          py_version: << parameters.py_version >>

workflows:
  version: 2
  build:
    jobs:
      - test_linux:
          matrix:
            parameters:
              py_version: ["3.6", "3.7", "3.8", "3.9", "pypy3.7"]
